.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

.image-head {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.control {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  padding: 10px;
}

.button {
  outline: none;
  color: white;
  opacity: 1;
  background: transparent;
  background-color: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
  filter: invert(100%);
  border: none;

  &:hover {
    opacity: 0.7;
  }
}

.download-btn {
  position: absolute;
  z-index: 101;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  border: 0;
  border-radius: 58px / 100%;
  color: transparent;
  padding: 0;
  appearance: none;
  width: 224px;
  height: 56px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.take-photo-button {
  background: url('https://img.icons8.com/ios/50/000000/compact-camera.png');
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border: solid 4px black;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.change-facing-camera-button {
  background: url(https://img.icons8.com/ios/50/000000/switch-camera.png);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 40px;
  &:disabled {
    opacity: 0;
    cursor: default;
    padding: 60px;
  }
  @media (max-width: 400px) {
    padding: 40px 5px;
    &:disabled {
      padding: 40px 25px;
    }
  }
}

.image-preview {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 400px) {
    width: 50px;
    height: 120px;
  }
}

.full-screen-image-preview {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}